:root {
    --transition: all 0.3s;
    --mainColor: #003b79;
    --secColor: #01152b;
    --thColor: #04e474;
}

/* Global */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

/* End Global */
/* Start Media */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Small devices (≥768px) */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Medium devices (≥992px) */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* Large devices (≥1200px) */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* End Media */

/* Header */
.PC-header {
    border-bottom: 1px solid #e2e2e2;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.nav .logo a {
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: var(--mainColor);
}

.nav .search {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.search input {
    border: none;
    outline: 1px solid #acacac;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 42px;
    width: 220px;
    padding-left: 15px;
    margin-right: -5px;
}

.search button {
    background-color: var(--mainColor);
    color: white;
    border: none;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 25px;
}

.nav ul li a {
    color: var(--mainColor);
    font-size: 18px;
    text-decoration: none;
    transition: var(--transition);
}

.nav ul li a:hover {
    color: var(--secColor);
}

.nav ul li:last-of-type a {
    border: 1px solid #acacac;
    padding: 15px 25px;
    border-radius: 30px;
    transition: var(--transition);
}

.nav ul li:last-of-type a:hover {
    color: white;
    border: 1px solid var(--secColor);
    background-color: var(--secColor);
}

.Mobile-header {
    display: none;
}


@media (max-width: 990px) {
    .PC-header {
        display: none;
    }

    .Mobile-header {
        display: block;
    }

    .Mobile-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
    }

    .Mobile-header .container .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 600px;
    }

    .Mobile-header .logo a {
        font-size: 30px;
        font-weight: 800;
        text-decoration: none;
        color: var(--mainColor);
    }

    .Mobile-header .container .top button {
        background-color: white;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: var(--mainColor);
    }

    .mobile-list {
        width: 100vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 80px;
        gap: 50px;
        z-index: 100;
        transition: 0.4s ease-out;
        display: none;
    }

    .mobile-list button {
        font-size: 50px;
        color: var(--mainColor);
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translate(-50%, -50%);
        position: relative;
        left: 50%;
    }

    .mobile-list ul {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        list-style: none;
        margin-right: 2.8rem;
    }

    .mobile-list ul li a {
        color: var(--mainColor);
        font-size: 25px;
        text-decoration: none;
        transition: var(--transition);
    }

    .mobile-list ul li a:hover {
        color: var(--secColor);
    }

    .mobile-list ul li:last-of-type a {
        border: 1px solid #acacac;
        padding: 15px 25px;
        border-radius: 30px;
        transition: var(--transition);
    }

    .mobile-list ul li:last-of-type a:hover {
        color: white;
        border: 1px solid var(--secColor);
        background-color: var(--secColor);
    }

}


@media (max-width: 768px) {
    .PC-header {
        display: none;
    }

    .Mobile-header {
        display: block;
    }

    .Mobile-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
    }

    .Mobile-header .container .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 220px;
    }

    .Mobile-header .logo a {
        font-size: 30px;
        font-weight: 800;
        text-decoration: none;
        color: var(--mainColor);
    }

    .Mobile-header .container .top button {
        background-color: white;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: var(--mainColor);
    }

    .mobile-list {
        width: 100vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 80px;
        gap: 50px;
        z-index: 100;
        transition: 0.4s ease-out;
        display: none;
    }

    .mobile-list button {
        font-size: 50px;
        color: var(--mainColor);
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translate(-50%, -50%);
        position: relative;
        left: 50%;
    }

    .mobile-list ul {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        list-style: none;
        margin-right: 2.8rem;
    }

    .mobile-list ul li a {
        color: var(--mainColor);
        font-size: 25px;
        text-decoration: none;
        transition: var(--transition);
    }

    .mobile-list ul li a:hover {
        color: var(--secColor);
    }

    .mobile-list ul li:last-of-type a {
        border: 1px solid #acacac;
        padding: 15px 25px;
        border-radius: 30px;
        transition: var(--transition);
    }

    .mobile-list ul li:last-of-type a:hover {
        color: white;
        border: 1px solid var(--secColor);
        background-color: var(--secColor);
    }

}


@media (max-width: 480px) {
    .PC-header {
        display: none;
    }

    .Mobile-header {
        display: block;
    }

    .Mobile-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
    }

    .Mobile-header .container .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;
    }

    .Mobile-header .logo a {
        font-size: 30px;
        font-weight: 800;
        text-decoration: none;
        color: var(--mainColor);
    }

    .Mobile-header .container .top button {
        background-color: white;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: var(--mainColor);
    }

    .mobile-list {
        width: 100vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 80px;
        gap: 50px;
        z-index: 100;
        transition: 0.4s ease-out;
        display: none;
    }

    .mobile-list button {
        font-size: 50px;
        color: var(--mainColor);
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translate(-50%, -50%);
        position: relative;
        left: 50%;
    }

    .mobile-list ul {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        list-style: none;
        margin-right: 2.8rem;
    }

    .mobile-list ul li a {
        color: var(--mainColor);
        font-size: 25px;
        text-decoration: none;
        transition: var(--transition);
    }

    .mobile-list ul li a:hover {
        color: var(--secColor);
    }

    .mobile-list ul li:last-of-type a {
        border: 1px solid #acacac;
        padding: 15px 25px;
        border-radius: 30px;
        transition: var(--transition);
    }

    .mobile-list ul li:last-of-type a:hover {
        color: white;
        border: 1px solid var(--secColor);
        background-color: var(--secColor);
    }

}

/*=============== Home =========================*/

.offers-place {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--secColor);
}

.offers-place p {
    color: white;
    font-size: 20px;
}

.offers-place a {
    text-decoration: none;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: var(--thColor);
    color: white;
    font-size: 18px;
    transition: var(--transition);
}

.offers-place a:hover {
    background-color: #48ad7b;
}

.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.home .container .hook {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--secColor);
}

.hook p {
    width: 600px;
    text-align: center;
}

.home .container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.home .buttons a:first-of-type {
    text-decoration: none;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    background-color: var(--secColor);
    transition: var(--transition);
}

.home .buttons a:first-of-type:hover {
    background-color: var(--mainColor);
}

.home .buttons a:last-of-type {
    text-decoration: none;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    background-color: var(--thColor);
    transition: var(--transition);
}

.home .buttons a:last-of-type:hover {
    background-color: #48ad7b;
}


@media (max-width: 990px) {
    .offers-place {
        margin-top: 20px;
        flex-direction: column;
        height: 140px;
        padding-bottom: 30px;
    }

    .offers-place p {
        font-size: 28px;
    }

    .hook p {
        font-size: 50px;
        width: 400px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .offers-place {
        margin-top: 20px;
        flex-direction: column;
        height: 160px;
    }

    .offers-place p {
        font-size: 18px;
    }

    .hook p {
        font-size: 25px;
        width: 400px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .offers-place {
        text-align: center;
    }

    .offers-place p {
        font-size: 20px;
        line-height: 1.6;
    }

    .hook p {
        font-size: 25px;
        width: 300px;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        gap: 18px;
    }

    .home .buttons a:first-of-type,
    .home .buttons a:last-of-type {
        padding: 15px 50px;
    }
}

/* Sections */

.sections {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;
}

.sections h3 {
    font-size: 35px;
    color: var(--secColor);
}

.sections .sections-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 85%;
}

.sections-buttons button {
    background-color: white;
    border: 1px solid var(--secColor);
    color: var(--secColor);
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    transition: var(--transition);
}

.sections-buttons button:hover {
    background-color: var(--secColor);
    color: white;
}

.sections-buttons button:first-of-type {
    background-color: var(--secColor);
    color: white;
}

/* Cources */

.courses {
    padding-bottom: 30px;
}

.courses h3 {
    margin-left: 10px;
    color: var(--secColor);
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.cources-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.image span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #747474;
    display: none;
}

.image span:hover {
    color: red;
}


.the-course {
    border: 1px solid #acacac;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: var(--transition);
}

.the-course:hover {
    transform: translateY(-15px);
}

.the-course:hover .course-title {
    color: var(--thColor);
}

.the-course:hover .image span {
    display: block;
}

.the-course:hover .lecturer-name {
    color: #003b79;
}

.course-title {
    color: var(--secColor);
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    padding-top: 10px;
    text-decoration: none;
    transition: var(--transition);
}

.information-course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.lecturer-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    margin-left: 5px;
}

.lecturer-name {
    color: #585858;
}

.course-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #333;
}

.more-cources {
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: var(--thColor);
}

.more-cources:hover {
    background-color: #48ad7b;
}

.this-more {
    margin-top: 70px;
    display: none;
}

.all-courses {
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: var(--thColor);
    display: none;
}

.all-courses:hover {
    background-color: #48ad7b;
}

@media (max-width: 990px) {
    .cources-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .courses {
        text-align: center;
    }

      .more-cources {
        margin-left: 17%;
    }

    .all-courses {
        margin-left: 17%;
    }
}

@media (max-width: 768px) {
    .cources-box {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .courses {
        text-align: center;
    }

    .more-cources {
        margin-left: 23%;
    }

       .all-courses {
        margin-left: 23%;
    }
}

@media (max-width: 480px) {
    .cources-box {
        grid-template-columns: repeat(1, 1fr);
        margin-right: -170px;
    }

    .courses {
        text-align: center;
    }

    
      .more-cources {
        margin-left: 36%;
    }

    .all-courses {
        margin-left: 36%;
    }
}

/* ==== images cources === */

.image {
    background-position: top;
    background-size: cover;
    width: 340px;
    aspect-ratio: 1.3/1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.ptofile-img {

    background-position: top;
    background-size: cover;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}



.mohamed-osama .image {
    background-image: url(images/lec-one.webp);
}

.mohamed-osama .ptofile-img {
    background-image: url(images/lec-one.webp);
}


.ahmed-mostafa .image {
    background-image: url(images/lec-2.webp);
}

.ahmed-mostafa .ptofile-img {
    background-image: url(images/lec-2.webp);
}


.hanan-tawfik .image {
    background-image: url(images/lec-5.webp);
}

.hanan-tawfik .ptofile-img {
    background-image: url(images/lec-5.webp);
}


.shimaa-awad .image {
    background-image: url(images/lec6.webp);
}

.shimaa-awad .ptofile-img {
    background-image: url(images/lec6.webp);
}


.nader-omar .image {
    background-image: url(images/lec4.webp);
}

.nader-omar .ptofile-img {
    background-image: url(images/lec4.webp);
}


.ahmed-ali .image {
    background-image: url(images/lec3.webp);
}

.ahmed-ali .ptofile-img {
    background-image: url(images/lec3.webp);
}


.ahlam-ali .image {
    background-image: url(images/lec8.webp);
}

.ahlam-ali .ptofile-img {
    background-image: url(images/lec8.webp);
}


.eslam-gamal .image {
    background-image: url(images/lec9.webp);
}

.eslam-gamal .ptofile-img {
    background-image: url(images/lec9.webp);
}


.waleed-hany .image {
    background-image: url(images/lec10.webp);
}

.waleed-hany .ptofile-img {
    background-image: url(images/lec10.webp);
}



/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: var(--mainColor);
}

.footer-logo a {
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
    color: white;
}

.footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer .links a {
    text-decoration: none;
    font-size: 18px;
    color: var(--secColor);
    color: white;
    transition: var(--transition);
}

.footer .links a:hover,
.social-icon a:hover {
    color: var(--secColor);
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
}

.social-icon a {
    text-decoration: none;
    font-size: 25px;
    color: var(--secColor);
    color: white;
    transition: var(--transition);
}

footer {
    color: white;
}


@media (max-width: 990px) {
    .footer .links {
        gap: 40px;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .footer .links {
        gap: 40px;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .footer .links {
        gap: 40px;
        flex-direction: column;
    }
}

/* Arrow Up */

.arrow-up {
    position: fixed;
    bottom: 35px;
    right: 30px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    color: var(--secColor);
    background-color: transparent;
    transition: var(--transition);
    display: none;
    z-index: 100;
}

.arrow-up:hover {
    color: #929292;
}